div {
    display: flex;
    flex-direction: column;
}

.header {
    min-width: 100vw;
    position: fixed;
    bottom: 0;
}

.floater {
    flex-direction: row;
    /* height: 3rem; */
    padding: 0.2rem 2rem 0.2rem 2rem;
    background-color: white;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 5px 5px 8px 5px rgb(233, 233, 233);
    justify-content: space-between;
}
